<!doctype html>
<html>
<head>
    <title>Add A Student</title>
</head>

<body>

<form action="/new-student-success" method="POST">
    <b>Enter the information below to add a new student:</b><br><br>
    <label>First Name:
        <input type="text" name="fname">
    </label>
    <br><br>
    <label>Last Name:
        <input type="text" name="lname">
    </label>
    <br><br>
    <label>Github:
        <input type="text" name="github">
    </label>
    <br><br>
    <input type="submit" value="Add Student">
</form>

</body>
</html>